@using VTP2015.Helpers
@model VTP2015.Modules.Student.ViewModels.FileViewModel

@{
    ViewBag.Title = "Student - FileName";
}


<div class="container-fix">
    <br/>
</div>

<div class="container-fix">
    <form role="form">
        <div class="container-fix">
            <div class="row">
                @Html.Action("SelectEvidenceWidget")

                @Html.Action("AvailablePartimsWidget")

                @Html.Action("RequestDetailWidget")

                @Html.Action("RequestedPartimsWidget")

            </div>
        </div>
    </form>
</div>
@section scripts {
    <script type="text/javascript" src="@Url.Content("/scripts/student/dossier.js")"></script>
    <script type="text/javascript" src="@Url.Content("/scripts/toDictionary.js")"></script>
}
@section css{
    <style>
        #draggablePanelList li {
        cursor: move;
    }
    </style>
}
