@using VTP2015.Helpers
@{
    ViewBag.Title = "Student - FileName";
}


<div class="container-fix">
    <br/>
</div>

<div class="container-fix">
    <form role="form">
        <div class="container-fix">
            <div class="row">
                @Html.Action("SelectEvidenceWidget")

                @Html.Action("AvailablePartimsWidget")

                @Html.Action("RequestDetailWidget")

                @Html.Action("RequestedPartimsWidget")

            </div>
        </div>
    </form>
</div>
@Scripts.Render("~/bundles/student")
@section css{
    <style>
        .list-group-item {
            cursor: default;
        }
         .partim, .module, .semester, .status {
             cursor: pointer;
         }
    </style>
}
