@using VTP2015.Helpers
@model VTP2015.ServiceLayer.Student.Models.FileStatus

@{
    ViewBag.Title = "Student - FileName";
}


<div class="container-fix">
    <br/>
</div>

<div class="container-fix">
    <form role="form">
        <div class="container-fix">
            <div class="row">
                @Html.Action("SelectEvidenceWidget")

                @Html.Action("AvailablePartimsWidget")

                @Html.Action("RequestDetailWidget")

                @Html.Action("RequestedPartimsWidget")

            </div>
        </div>
    </form>
</div>
@Scripts.Render("~/bundles/student")
@section css{
    <style>
        #draggablePanelList li {
        cursor: move;
    }
    </style>
}
