@model IEnumerable<VTP2015.Modules.Lecturer.ViewModels.RequestListViewModel>

<div class="panel panel-success clearfix inheritWidth aanvraagcontainer">
    <div class="panel-heading ">
        @*<h3 class="panel-title">Aanvragen <span id="vorigeAanvraag"><<</span><span id="huidigeAanvraag">1</span>/<span id="aantalAanvragen"></span><span id="volgendeAanvraag">>></span></h3>*@
        <h3 class="panel-title">Aanvragen</h3>
</div>
    <div class="panel-body">
        @{ var getoondeAanvraagId = 1; }
        
        @foreach (var partim in Model.GroupBy(g => g.SuperCode).Select(grp => grp.First()))
        {
            <div id="@partim.SuperCode" class="panel panel-success clearfix inheritWidth modulecontainer">
                <h3 class="panel-title">@partim.PartimName - @partim.ModuleName</h3>
                <div class="panel-body">

                    @foreach (var aanvraag in Model.Where(m => m.PartimName.Equals(partim.PartimName)))
                    {
                        <script>
                            $("#Aantal_@partim.SuperCode").html(parseInt($("#Aantal_@partim.SuperCode").html()) + 1);
                        </script>

                        <div id="aanvraag-@getoondeAanvraagId" class="aanvraag " data-studentid="@aanvraag.Student.Email" data-aanvraagid="@aanvraag.Id" data-module="@aanvraag.ModuleName">
                            <p>Student: @aanvraag.Student.Email</p>
                            <div class="opinionButtons row" style="padding-left:15px">
                                <input type="button" class="btn btn-success approveButton" value="Accepteren">
                                <input type="button" class="btn btn-danger dissapproveButton" value="Weigeren">
                            </div>
                            
                            @if(aanvraag.Argumentation != null)
                            {

                            <p>
                                <label for="argumentatie" class="control-label">Extra argumentatie:</label>
                                <label class="control-label">@aanvraag.Argumentation</label>
                            </p>
                            }

                            @*<label class="control-label">Bewijzen: <a href="#" class="vorigBewijs"><<</a><span class="huidigBewijs">1</span>/@aanvraag.Evidence.Count()<a href="#" class="volgendBewijs">>></a></label>*@
                            @foreach (var bewijs in aanvraag.Evidence)
                            {
                                <div data-evidenceid="@bewijs.Id" class="inheritWidth bewijs">
                                    <input class="btn argumentatie" value="@bewijs.Description" type="button" data-bewijsid="@bewijs.Id">
                                    <div class="inheritWidth bewijspointer hide" data-RequestPartimInformationid="RequestPartimInformation_@aanvraag.Id">
                                        @*<textarea id="argumentatie" class="form-control" readonly="">@bewijs.Description</textarea>*@
                                        <a href="~/bewijzen/@bewijs.Student.Email.Split(new Char[] {'@'}).First()/@bewijs.Path" download>
                                            Als onderstaande voorstelling niet werkt kunt u op deze link klikken om het evidence te downloaden
                                        </a>
                                        <div class="bewijsdiv">
                                            @if (@bewijs.Path.Split(new Char[] { '.' }).Last().Equals("pdf"))
                                            {
                                                <embed src="~/bewijzen/@bewijs.Student.Email.Split(new Char[] {'@'}).First()/@bewijs.Path" class="inheritWidth" />
                                            }
                                            else
                                            {
                                                <img src="~/bewijzen/@bewijs.Student.Email.Split(new Char[] {'@'}).First()/@bewijs.Path" class="inheritWidth" />
                                            }
                                        </div>
                                    </div>

                                    <div class="opinionButtons row hide" id="optnion_@bewijs.Id">
                                        <input type="button" class="btn btn-success approveButton" value="Accepteren">
                                        <input type="button" class="btn btn-danger dissapproveButton" value="Weigeren">
                                    </div>
                                    <input class="btn argumentatie hide" value="@bewijs.Description" type="button" data-bewijsid="@bewijs.Id">
                                </div>
                                { getoondeAanvraagId++; }
                            }
                            <br />
                        </div>
                    }




                </div>
            </div>
        }

        
    </div>
</div>