@model VTP2015.ViewModels.Student.IndexViewModel

@*@using (Ajax.BeginForm("AddFile", "Student", new AjaxOptions{HttpMethod = "Post", OnSuccess = "BewijsSuccess"} ,new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
{*@
<form id="addBewijs-form" class="form-horizontal" data-url="@Url.Action("AddFile","Student")">
    <div class="input-group">
        @Html.LabelFor(m => m.File, new { @class = "form-label" })
        @*@Html.TextBoxFor(m => m.File, new {type = "file"})*@
        <input id="File" type="file" name="File" />
    </div>
    <br />
    <div class="input-group">
        @Html.LabelFor(m => m.Omschrijving, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Omschrijving, new { @class = "form-control" })
    </div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="input-group">
        <button type="button" class="btn btn-success">Add</button>
    </div>
</form>
