@using VTP2015.Helpers
@{
    ViewBag.Title = "Student - home";
}
<div class="container-fix">
  <br />
</div>

<div class="container-fix">
    <div class="col-md-6">
        @Html.Action("FileWidget")
        @Html.Action("AddFeedbackWidget", "Feedback")
    </div>
    <div id="bewijzenColumn" class="col-md-6">
        @using (Html.BeginPanel("Evidence"))
        {
            @Html.Action("EvidenceListWidget")
            @Html.Action("AddFileWidget")
        }
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="@Url.Content("/scripts/student/studentIndex.js")"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
