@using VTP2015.Entities
@model IEnumerable<VTP2015.Modules.Counselor.ViewModels.RequestDetailViewModel>

<div class="panel panel-success clearfix inheritWidth">
    <div class="panel-heading ">
        <h3 class="panel-title">aanvragen</h3>
    </div>
    <div class="panel-body">
        @foreach (var request in Model)
        {
            <div class="request hide" data-fileid="@request.FileId" data-RequestPartimInformationPartimInformationid="@request.RequestId">
                <h2> @request.ModuleName - @request.PartimName</h2>
                <div>
                    
                    <div class="requestDetails">

                        @*<button class="btn btn-danger herinnering">Poke docent</button>*@
                        <label class="control-label">Argumentatie:</label>
                        <p>@request.Argumentation</p>
                    </div>

                    <div class="requestEvidence">
                        @if (!request.Evidence.Any())
                        {
                            <p>Er zijn voor deze aanvraag geen bewijzen.</p>
                        }
                        else
                        {
                            <label class="control-label" data-requestid="@request.RequestId">
                                Evidence:
                                <a href="#" class="previousEvidence"><<</a>
                                <span class="currentEvidence">1</span>/
                                <span class="amountOfEvidence">@request.Evidence.Count()</span>
                                <a href="#" class="nextEvidence">>></a>
                            </label>
                        }

                        @{ var currentEvidenceIndex = 1; }
                        @foreach (var evidence in request.Evidence)
                        {
                            <div data-evidenceindex="@currentEvidenceIndex" class="inheritWidth bewijs hide">
                                <div class="inheritWidth bewijspointer" data-RequestPartimInformationPartimInformationid="RequestPartimInformationPartimInformation_ //TODO: right value">
                                    <p id="argumentatie" readonly="">@evidence.Description</p>
                                    <a href="~/bewijzen/@evidence.StudentEmail.Split('@').First()/@evidence.Path" download>
                                        Als onderstaande voorstelling niet werkt kunt u op deze link klikken om het bewijs te downloaden
                                    </a>
                                    <div class="bewijsdiv">
                                        @if (evidence.Path.Split('.').Last().Equals("pdf"))
                                        {
                                            <embed src="~/bewijzen/@evidence.StudentEmail.Split('@').First()/@evidence.Path" class="inheritWidth"/>
                                        }
                                        else
                                        {
                                            <img src="~/bewijzen/@evidence.StudentEmail.Split('@').First()/@evidence.Path" class="inheritWidth" alt=""/>
                                        }
                                    </div>

                                </div>

                            </div>
                            {
                                currentEvidenceIndex++; 
                            }
                        }


                    </div>

                </div>
            </div>
        }
    </div>
</div>
