@using VTP2015.DataAccess.Identity
@model VTP2015.Modules.Feedback.ViewModels.IndexViewModel
@{
    IdentityManagementWebservice _identityService = new IdentityManagementWebservice();
}
<div class="panel panel-success clearfix inheritWidth" id="feedback">
    <div class="panel-heading ">
        <h3 class="panel-title">Feedback</h3>
    </div>
    <div class="panel-body">
        <p>@_identityService.GetUserByEmail("joachim.bockland@student.howest.be").Id</p>
        <p>@_identityService.AuthenticateUserByEmail("joachim.bockland@student.howest.be","123456789")</p>
        <p>@Model.User</p>
        <p>@Model.User.Id</p>
        <p>@Model.User.Email</p>
        <p>@Model.User.Firstname</p>
        <p>@Model.User.Lastname</p>
        <p>@Model.User.Username</p>

        <div id="response">

        </div>

    </div>
</div>
